= simple_form_for @article, html: { multipart: true } do |f|
	- if @article.errors.any?
		#errors
			%h2
			= pluralize(@article.errors.count, "error")
			prevented this article from saving
			%ul
				- @article.errors.full_messages.each do |msg|
					%li= msg

	.form_group
		= f.input :title, input_html: {class: 'form_control'}
	
	.form-group
		= f.input :description, input_html: {class: 'form_control'}

		= f.button :submit, input_html: {class: "btn btn-primary"}





